.cbp-qtrotator {

	width: 100%;
	min-height: 400px;
	margin-left:50px;
	margin-top:-250px;
}

.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	min-height: 200px;
	;
	
	padding: 2em 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}



.cbp-qtrotator blockquote {
	margin: 0;
	padding: 0;
}

.cbp-qtrotator blockquote p {
	font-size: 2em;
	color: #fafbfb;
	font-weight: 300;
	text-shadow: 0 0 5px #030202, 0 0 5px #030202 , 0 0 15px #030202 , 0 0 20px #030202 , 0 0 35px #37acff , 0 0 40px #37acff , 0 0 50px #37acff ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

.cbp-qtrotator blockquote footer {
	font-size: 1.2em;
	  font-family:"Gill Sans", "Gill Sans MT", Myriad Pro, "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: #fafbfb;

text-shadow: 0 0 5px #030202, 0 0 5px #030202 , 0 0 15px #030202 , 0 0 20px #030202 , 0 0 35px #37acff , 0 0 40px #37acff , 0 0 50px #37acff ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

.cbp-qtrotator blockquote footer:before {
	content: '― ';
}

.cbp-qtrotator .cbp-qtcontent img {
	float: right;
	
}

/* Example for media query */
@media screen and (max-width: 30.6em) { 

	.cbp-qtrotator {
		font-size: 70%;
	}

	

}
